/*
/* Style the tab */
.tab {
	float: right;
	width: 30vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2E363C;
}

.tab ul
{
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.tab ul li
{
	list-style: none;
	/* width: 11%;
	height: 60%; */
	/*BUG Can't put % or vh/vw because resize is not trigger since iframe window
	doesn't detect any resize. Event is triggered by parent.*/
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab ul li z
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #4c80a3;
	border-radius: 50%;
	color: white;
	transition: .5s;
	outline: 0;
}

.tab ul li z:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #ffee10;
	transform: scale(.9);
	z-index: -1;
}

.tab ul li z:hover::before
{
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
}
.tab ul li z:hover
{
	color: #ffee10;
	box-shadow: 0 0 15px #ffee10;
	text-shadow: 0 0 5px #ffee10;
	cursor: pointer;
}

.notif
{
	border-radius: 50%;
	-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

#tty_btn
{
	display: none;
}

@-webkit-keyframes glowing {
  0% { background-color: #009999; -webkit-box-shadow: 0 0 3px #009999; }
  50% { background-color: #57D1FA; -webkit-box-shadow: 0 0 40px #57D1FA; }
  100% { background-color: #009999; -webkit-box-shadow: 0 0 3px #009999; }
}

@-moz-keyframes glowing {
  0% { background-color: #009999; -moz-box-shadow: 0 0 3px #009999; }
  50% { background-color: #57D1FA; -moz-box-shadow: 0 0 40px #57D1FA; }
  100% { background-color: #009999; -moz-box-shadow: 0 0 3px #009999; }
}

@-o-keyframes glowing {
  0% { background-color: #009999; box-shadow: 0 0 3px #009999; }
  50% { background-color: #57D1FA; box-shadow: 0 0 40px #57D1FA; }
  100% { background-color: #009999; box-shadow: 0 0 3px #009999; }
}

@keyframes glowing {
  0% { background-color: #009999; box-shadow: 0 0 3px #009999; }
  50% { background-color: #57D1FA; box-shadow: 0 0 40px #57D1FA; }
  100% { background-color: #009999; box-shadow: 0 0 3px #009999; }
}
