
#contacts_list
{
	display: flex;
	flex-direction: column;
}

.contact
{
	display: flex;
	margin-top: 3%;
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

.contact:hover
{
	opacity: .5;
}

.contact_name
{
	margin-left: 4%;
	margin-right: 4%;
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba(120, 200, 255, 0.2);
	text-align: center;
	font-size: 1.2em;
	color: #78C8FF;
	font-family: Verdana, sans-serif;
}

.contact_name p
{
	font-size: 20px;
	width: 100%;
	margin: auto;
	margin-left: 4%;
	font: normal 100 20px/1.5em "Exo 2", Arial, sans-serif;
}

.contact img
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-left: 10px;
}

/* Messenger-like style */

.messenger {
	position: absolute;
	width: 100%;
	height: 90vh;
	height: calc(var(--vh, 1vh) * 90);
	/* background-color: #262626; */
	background-color: rgb(46, 55, 60);
	display: flex;
	flex-direction: column;
}

.messenger ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	flex: 1;
}

.messenger ul li{
	display:inline-block;
	clear: both;
	padding: 20px;
	border-radius: 30px;
	margin-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.messenger ul li:first-child
{
	margin-top: 5px;
}

.him{
	background: black;
	float: left;
	color: #78C8FF;
}

.me{
	float: right;
	background: #78C8FF;
	color: black;
}

.him + .me{
	border-bottom-right-radius: 5px;
}

.me + .me{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.me:last-of-type {
	border-bottom-right-radius: 30px;
}

.answers{
	margin-bottom: 2px;
}

.answers button{
	border-radius: 1em;
	border: 1px solid rgba(120, 200, 255, 1.0);
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	width: 100vw;
	color: #78C8FF;
	background: black;
	padding: 5px;
}

.notifSocial
{
	color: orange;
	-webkit-animation: glowingSocial 1500ms infinite;
	-moz-animation: glowingSocial 1500ms infinite;
	-o-animation: glowingSocial 1500ms infinite;
	animation: glowingSocial 1500ms infinite;
}

@-webkit-keyframes glowingSocial {
	0% { -webkit-text-shadow: 0 0 3px #ffee10; }
	50% { -webkit-text-shadow: 0 0 40px orange; }
	100% { -webkit-text-shadow: 0 0 3px #ffee10; }
}

@-moz-keyframes glowingSocial {
	0% { -moz-text-shadow: 0 0 3px #ffee10; }
	50% { -moz-text-shadow: 0 0 40px orange; }
	100% { -moz-text-shadow: 0 0 3px #ffee10; }
}

@-o-keyframes glowingSocial {
	0% { text-shadow: 0 0 3px #ffee10; }
	50% { text-shadow: 0 0 40px orange; }
	100% { text-shadow: 0 0 3px #ffee10; }
}

@keyframes glowingSocial {
	0% { text-shadow: 0 0 3px #ffee10; }
	50% { text-shadow: 0 0 40px orange; }
	100% { text-shadow: 0 0 3px #ffee10; }
}
