.hiddenImg {
	display: none;
}

.arrow_tuto {
    border-radius: 50%;
    background-color: #4a7fa4;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    width: 70%;
	height: 80%;
    max-width: 900px;
    max-height: 800px;
}

.modal-content img
{
	height: 80%;
	width: 100%;
    border: 1px solid white;
}

#tuto_dot_container
{
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#tuto_dot_container li
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #8ea2b1;
	list-style: none;
	margin-left: 5px;
}

#tuto_dot_container li:first-child
{
	background-color: #4a7fa4;
	margin-left: 0px;
}

#tuto_arrow_container
{
	position: relative;
	width: 100%;
	height: 20px;
}

#right_arrow_tuto
{
	/* display: block; */
	position: absolute;
	cursor: pointer;
	right: 10%;
}

#right_arrow_tuto:hover
{
    opacity: 0.9;
}

#left_arrow_tuto
{
	/* display: block; */
	position: absolute;
	cursor: pointer;
	left: 10%;
}

#left_arrow_tuto:hover
{
    opacity: 0.9;
}

#ok_button_tuto:hover
{
	opacity: 0.9;
	cursor: pointer;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    opacity: 0.5;
    /* color: red; */
    text-decoration: none;
    cursor: pointer;
}

#ok_button_tuto
{
	display: none;
	width: 100px;
	height: 20px;
	color: white;
	background-color: #4c80a3;
	margin: auto;
    margin-top: 20px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
